@model CS4540PS2.Models.CourseInstance
@*
    Author: Valerie German
    Date: 10 Sept 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Department view of a course - ability to update learning outcomes.
*@
@{
    @using Newtonsoft.Json.Linq;
    @using CS4540PS2.Controllers;
    ViewData["Title"] = Model.Number;
}

    <div id="ContentDiv">
        <h1>@Model.Department @Model.Number @Model.Name</h1>
        <h4>@Model.Description<!--Professor name--></h4>
        <div align="right">
            <a asp-controller="LearningOutcomes" asp-action="Index">All Learning Outcomes</a>
        </div>
        <hr />
        <h2>Learning Outcomes</h2>
        <h5 align="right">
            Add Learning Outcome
            <button type="button" class="btn btn-rounded btn-dark btn-sm" data-toggle="modal" data-target="#loModal">
                <i>+</i>
            </button>
        </h5>
        @if (Model.LearningOutcomes.Count == 0) {
            <p><b>This course has no assigned learning outcomes.</b></p>
        }
        @foreach (LearningOutcomes lo in Model.LearningOutcomes) {
            <!--Collapses separated in divs-->
            <!--Collapse with information about a learning outcome-->
            <!--This and following collapses created with help from https://getbootstrap.com/docs/4.0/components/collapse/-->
            <button class="btn sectionButton text-left lot-expando-btn" type="button" data-toggle="collapse"
                    data-target="#collapseContent@{<text>@lo.Loid</text>}" aria-expanded="false"
                    aria-controls="collapseContent@{<text>@lo.Loid</text>}">
                <b>@lo.Name</b>
            </button>
            <div class="collapse show" id="collapseContent@{<text>@lo.Loid</text>}">
                <!--Cards reference https://getbootstrap.com/docs/4.1/components/card/ (this is true of all following cards).-->
                <div class="card card-body">
                    <div class="card">
                        <div class="card-body">
                            @lo.Description
                        </div>
                    </div>
                    <br />
                    <div align="right">
                        <a class="btn btn-danger btn-sm" asp-controller="LearningOutcomes" asp-action="Delete" asp-route-id="@lo.Loid">Delete</a>
                        <a class="btn btn-primary btn-sm" asp-controller="LearningOutcomes" asp-action="Edit" asp-route-id="@lo.Loid">Modify</a>
                    </div>
                </div>
            </div><!--End Collapse Div-->
        }
        <br />


        <div class="modal fade" id="loModal" tabindex="-1" role="dialog" aria-labelledby="learningOutcomeModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="learningOutcomeModal">Add Learning Outcome</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--Referenced https://getbootstrap.com/docs/4.1/components/forms/ for form layout-->
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input name="Name" class="form-control" placeholder="Insert Name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input name="Description" class="form-control" placeholder="Insert Description" />
                            </div>
                            <div class="form-group">
                                <input hidden="hidden" name="CourseInstanceId" class="form-control" value="@Model.CourseInstanceId" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <br />
    </div>
