@model CS4540PS2.Models.LearningOutcomes
@*
    Author: Valerie German
    Date: 10 Sept 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Webpage for viewing a learning outcome.
*@
@{
    ViewData["Title"] = "Details";
    string course = Model.CourseInstance.Department + Model.CourseInstance.Number + " " + Model.CourseInstance.Name + 
        " (" + Model.CourseInstance.Semester + " " + Model.CourseInstance.Year + ")";
}

<h1>Details</h1>

<div>
    <h4>LearningOutcomes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Course
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => course)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Loid"><button class="btn btn-sm btn-primary">Edit</button></a><br /><br />
    <a asp-action="Course" asp-route-Dept="@Model.CourseInstance.Department" asp-route-Num="@Model.CourseInstance.Number"
       asp-route-Sem="@Model.CourseInstance.Semester" asp-route-Year="@Model.CourseInstance.Year"><button class="btn btn-sm btn-dark">Back to Course</button></a> |
    <a asp-action="Index"><button class="btn btn-sm btn-light">Back To All Learning Outcomes</button></a>
</div>
