@model IEnumerable<CS4540PS2.Models.LearningOutcomes>
@*
    Author: Valerie German
    Date: 10 Sept 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Webpage for viewing all existing learning outcomes.
*@
@{
    ViewData["Title"] = "Learning Outcomes";
    int Page = (int)ViewData["page"];
    int TableSize = (int)ViewData["tableSize"];
    //Fix page
    while (Page * TableSize >= Model.Count()) {
        Page--; //Go to start page.
        if (Page == 0) {
            TableSize = 0;
            break;
        }
    }
    //Fix table size
    if (Page * TableSize + TableSize >= Model.Count()) {
        TableSize = Model.Count() - (Page * TableSize);
    }
}

<div align="left" class="halfWidth">
    <h1>Learning Outcomes</h1>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>Search: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" /></p>
        <p><a asp-action="Index">Back to Full List</a><br /></p>
        <p><a asp-action="Create"><button class="btn btn-sm btn-primary">Create New</button></a></p>
    </div>
</form>
<hr />

@foreach (LearningOutcomes lo in Model)
{
    <div class="card shadowBox">
        <div class="card-body">
            <p>@lo.Name</p>
            <p>
                @lo.CourseInstance.Department @lo.CourseInstance.Number - 
                <a asp-action="Course" asp-route-Dept="@lo.CourseInstance.Department" asp-route-Num="@lo.CourseInstance.Number"
                       asp-route-Sem="@lo.CourseInstance.Semester" asp-route-Year="@lo.CourseInstance.Year">
                    <b>@lo.CourseInstance.Name</b>
                </a="Course">                          
            </p>
            <p>@lo.Description</p>
        </div>

        <div align="right">
            <a asp-controller="LearningOutcomes" asp-action="Delete" asp-route-id="@lo.Loid">
                <button class="btn btn-danger">Delete</button>
            </a>
            <a asp-controller="LearningOutcomes" asp-action="Edit" asp-route-id="@lo.Loid">
                <button class="btn btn-primary">Modify</button>
            </a>
        </div>
    </div>
    <br />
}