@model CS4540PS2.Controllers.CourseEditData
@*
    Author: Valerie German
    Date: 10 Sept 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Create webpage for courses
*@
@{
    ViewData["Title"] = "Edit Course";
    @using Microsoft.EntityFrameworkCore;
    var instructors = "";
    if (Model.Course.Instructors.Any()) {
        foreach(Instructors inst in Model.Course.Instructors) {
            instructors += inst.User.UserTitle + ", ";
        }
        instructors = instructors.Substring(0, instructors.Length - 2);
    } else {
        instructors = "No assigned instructors";
    }
}

<h2>Edit</h2>
<h4>@Model.Course.Department  @Model.Course.Number  - @Model.Course.Name</h4>
@if (Model.Course.Instructors.Any()) {
    <p>Instructors: @instructors</p>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" name="CourseInstanceId" value="@Model.Course.CourseInstanceId" />
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" name="Name" class="form-control" value="@Model.Course.Name" />
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input type="text" name="Description" class="form-control" value="@Model.Course.Description" />
            </div>
            <div class="form-group">
                <label class="control-label">Department</label>
                <select name="Department">
                    @foreach (Departments dept in Model.Departments) {
                        @if (Model.Course.Department == dept.Code) {
                            <option value="@dept.Code" selected>@dept.Name</option>
                        } else {
                            <option value="@dept.Code">@dept.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Number</label>
                <input type="number" name="Number" class="form-control" value="@Model.Course.Number" />
            </div>
            <div class="form-group">
                <label class="control-label">Semester</label>
                <select name="Semester">
                    <option value="@Model.Course.Semester" selected>@Model.Course.Semester</option>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                </select>
            </div>
            <div class="form-group">
                <label>Year</label>
                <input type="number" name="Year" min="1900" max="3000" class="form-control" value="@Model.Course.Year" />
            </div>
            <div class="form-group">
                <label class="control-label">Status</label>
                <select name="StatusId">
                    @foreach (CourseStatus st in Model.CourseStatus) {
                        @if (st.StatusId == Model.Course.StatusId) {
                            <option value="@st.StatusId" selected>@st.Status</option>
                        } else {
                            <option value="@st.StatusId">@st.Status</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Due Date</label>
                @{ 
                    DateTime due = Model.Course.DueDate;
                    string formatted = due.ToString("yyy-MM-dd");
                }
                <input class="form-control" name="DueDate" type="date" value="@formatted" />
            </div>
            <div class="form-group">
                <label class="control-label">Instructor <i>(optional)</i></label>
                <select name="newInstructors" class="form-control" multiple data-max-options="3">
                    @foreach (UserLocator user in Model.Professors) {
                        @if (Model.Course.Instructors.Any()
                       && Model.Course.Instructors.Where(i => i.User.UserLoginEmail == user.UserLoginEmail).Any()) {
                    <option value="@user.UserLoginEmail" selected>@user.UserTitle</option>
                } else {
                    <option value="@user.UserLoginEmail">@user.UserTitle</option>
                }
                    }
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!--<div>
    <a asp-action="Index">Back to List</a>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

