@*
    Author: Valerie German
    Date: 19 Nov 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: Webpage listing all courses in the database - admin view
*@
@{
    ViewData["Title"] = "Courses";
}

<h1>Course Catalogue</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
        </p>
    </div>
</form>
<div name="orderByBar" id="orderByMenu" class="dropdown">
    <button name="orderByDropDownMenuButton" id="orderByDropDownMenuButton" class="btn btn-default dropdown-toggle"
            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Order By
    </button>
    <div name="orderByDropDownMenuItems" id="orderByDropDownMenuItems" class="dropdown-menu" aria-labelledby="orderByDropDownMenuButton">
        <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["DepartmentSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Department</a>
        <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["CourseNumSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Course Number</a>
        <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["CourseTitleSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Course Title</a>
        <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["SemesterSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Semester</a>
        <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["YearSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Year</a>
    </div>
</div>
<hr />

@foreach (CourseInstance course in Model)
{
    <div class="card shadowBox">
        <div class="card-body">
            <!-- onclick="RedirectToCourse('@course.Department', @course.Number, '@course.Semester', @course.Year);"-->
            <p>@course.Department @course.Number - <b>@course.Name</b> </p>
            @{ var instructor = course.Instructors.FirstOrDefault(); }
            <p>@if (instructor != null) { <text>Taught by: @instructor.User.UserTitle</text> } else { <text>No Instructor Assigned</text>}</p>
            <p>@course.Description</p>
            <p class="small"><b><i>@course.Status.Status</i></b></p>
        </div>
        <div align="right">
            <a asp-controller="Course" asp-action="Delete" asp-route-id="@course.CourseInstanceId">
                <button class="btn btn-danger">Delete</button>
            </a>
            <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.CourseInstanceId">
                <button class="btn btn-primary">Modify</button>
            </a>
        </div>
    </div>
    <br />
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<ul class="pagination">
    <li>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="1"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            <<
        </a>
    </li>
    <li>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            <
        </a>
    </li>
    <li>
        <form asp-action="Index"
              asp-route-sortOrder="@ViewData["CurrentSort"]"
              asp-route-pageNumber=pageNumTextBox.text
              asp-route-currentFilter="@ViewData["CurrentFilter"]">
            <input type="text" name="pageNumTextBox" id="pageNumTextBox" value="@Model.PageIndex"
                   style="width:35px;text-align:center;" disabled/>
        </form>
    </li>
    <li>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            >
        </a>
    </li>
    <li>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.TotalPages)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            >>
        </a>
    </li>
</ul>
<a asp-action="Index">Back to Full List</a>
