<!--
    Author: Valerie German
    Date: 18 Oct 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: This file contains the layout for all webpages for PS3.
-->
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject LearningOutcomeDBContext context

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="INSERT">
    <meta name="keywords" content="HMTL">
    <meta name="author" content="Valerie German">

    <link rel="stylesheet" type="text/css" href="site.css" />
    <link rel="stylesheet" href="~/css/Learning_Outcomes.css" />
    <script src="https://kit.fontawesome.com/993c01b040.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" />
    <title>@ViewData["Title"] - CS4540PS4</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!-- References bootstrap https://getbootstrap.com/docs/4.0/components/navbar/ -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link navbar-brand" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="LearningOutcomes" asp-action="Index">Learning Outcomes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Courses
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Course" asp-action="Index">All Courses</a>
                                <a class="dropdown-item" asp-controller="Course" asp-action="Create">Create New Course</a>
                                <!--<div class="dropdown-divider"></div>-->
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Index">Users</a>
                        </li>
                    }
                    @if (User.IsInRole("Chair"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Departments
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Department" asp-action="Department" asp-route-DeptCode="CS">Computer Science</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Department" asp-action="Index">All Departments</a>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("Instructor"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Instructor" asp-action="Index">Courses</a>
                        </li>
                        <!-- Dropdown -->
                        <!--<li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Courses
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Instructor" asp-action="Index">Your Courses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Instructor" asp-action="Course" asp-route-Dept="CS" asp-route-Num="2100" asp-route-Sem="Fall" asp-route-Year="2019">CS 2100</a>
                            <a class="dropdown-item" asp-controller="Instructor" asp-action="Course" asp-route-Dept="CS" asp-route-Num="3500" asp-route-Sem="Fall" asp-route-Year="2019">CS 3500</a>
                            <a class="dropdown-item" asp-controller="Instructor" asp-action="Course" asp-route-Dept="CS" asp-route-Num="4540" asp-route-Sem="Fall" asp-route-Year="2019">CS 4540</a>

                        </div>
                                        </li>-->
                    }

                </ul>
                <!-- User Info -->
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    @{ 

        var email = UserManager.GetUserName(User);

    }

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--Message box-->
    @foreach (IdentityUser user in UserManager.Users)
    {
        var strId = user.Id + "box";
        var buttonId = user.Id + "b";
        <div class="message_box" id=@strId>
            <div class="message_header" id=@buttonId>
                <p class="username">@user.Email</p>
                <i class="fas fa-times"></i>
            </div>

            <hr />

            <div class="messages">
                <div class="single_message">
                    <i class="fas fa-circle"></i>
                    <p>
                        This is a message.
                    </p>
                </div>
                <div class="single_message2">
                    <p>
                        A message from me!
                    </p>
                    <i class="fas fa-circle"></i>
                </div>
            </div>

            <div class="input_box">
                <textarea class="message_input" placeholder="Type a message...">

            </textarea>
                <i class="fas fa-location-arrow"></i>
            </div>

        </div>
    }

    <!--Contact box-->
    <div class="chat_box">
        <div class="chat_header">
            <h2 class="chat_heading">Users</h2>
        </div>
        <hr />
        <div class="user_list">
            @foreach (IdentityUser id in UserManager.Users)
            {
                <div class="user" id=@id.Id>
                    <p class="username">@id.UserName</p>
                    <i class="fas fa-circle"></i>
                </div>
            }

        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - CS4540PS2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/note.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
