@model CS4540PS2.Models.UserLocator
@using Microsoft.AspNetCore.Identity;
@*
    Author: Valerie German
    Date: 3 Dec 2019
    Course: CS 4540, University of Utah
    Copyright: CS 4540 and Valerie German - This work may not be copied for use in Academic Coursework.
    I, Valerie German, certify that I wrote this code from scratch and did not copy it in part or whole from another source. Any references used in the completion of this assignment are cited in my README file.
    File Contents: View for user notifications.
*@
@{
    ViewData["Title"] = "Notifications";
}
<br />
<h3>Notifications</h3>
<hr />
@if (Model.Notifications.Any()) {
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Date Received</th>
                <th scope="col">Message</th>
                <th scope="col" colspan="2">Course</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Notifications notify in Model.Notifications.OrderByDescending(n => n.DateNotified)) {
                var read = !notify.Read ? "bg-dark text-light" : "bg-light text-dark";
                var rowId = "row" + notify.NotificationId;
                var readId = "readCol" + notify.NotificationId;
                <tr id="@rowId" class="@read">
                    <td>
                        <button class="btn-danger btn-sm" onclick="DeleteNotify(event, @notify.NotificationId, '@rowId')">X</button>
                    </td>
                    <td id="@readId">
                        @if (!notify.Read) {<button class="btn-light btn-sm" onclick="ReadNotify(event, @notify.NotificationId, '@rowId', '@readId')">Mark as Read</button>}
                    </td>
                    <td>@notify.DateNotified.ToString("dddd, dd MMMM yyyy")</td>
                    <td>@notify.Text</td>
                    @{
                        CourseInstance course = notify.CourseInstance;
                        var courseInfo = course.Department + course.Number + " " + course.Name;
                    }
                    <td>@courseInfo</td>
                    <td>
                        @if (User.IsInRole("Chair")) {
                            <a asp-controller="Department" asp-action="Course" asp-route-courseId="@course.CourseInstanceId">
                                <button class="btn-primary btn-sm">Go To Course</button>
                            </a>
                        } else if (User.IsInRole("Instructor")) {
                            <a asp-controller="Instructor" asp-action="Course" asp-route-Dept="@notify.CourseInstance.Department" asp-route-Num="@notify.CourseInstance.Number"
                               asp-route-Sem="@notify.CourseInstance.Semester" asp-route-Year="@notify.CourseInstance.Year"><button class="btn-primary btn-sm">Go To Course</button></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>You have no notifications.</p>
}
